<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Танос Митрелиес</h4>
		<span class="price">$10k/5%</span>
		<p class="description">Mobile, web, software</p>
		<p><i class="material-icons">place</i> Кембридж, Великобритания</p>
		<p><i class="material-icons">language</i> Английский, греческий</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Камаль Хасан</h4>
		<span class="price">$30k/5-15%</span>
		<p class="description">Mobile, healthcare, edutech, </p>

		<p><i class="material-icons">place</i> Дубай, ОАЭ</p>
		<p><i class="material-icons">language</i> Английский, арабский</p>
	</div>
</div>
