<div class="main-plans plans">
	<div class="plan" data-id="free" class="col-1-3">
		<h4>Custdev</h4>
		<span class="price">от 6000 ₽</span>
		<p class="description">Тестирование идеи</p>
		
		<p><i class="material-icons">check</i>20 интервью</p>
		<p><i class="material-icons">check</i>Отчет</p>
		<p><i class="material-icons">check</i>Контакты клиентов</p>
	</div>

	<div class="plan" data-id="basic" class="col-1-3">
		<h4>Promo</h4>
		<span class="price monthly-price">от 4000 ₽</span>
		<p class="description">Создание проморолика</p>
		
		<p><i class="material-icons">check</i>Фото/видео</p>
		<p><i class="material-icons">check</i>Титры</p>
		<p><i class="material-icons">check</i>Музыка</p>
	</div>

	<div class="plan" data-id="professional" class="col-1-3">
		<h4>Landing</h4>
		<span class="price monthly-price">от 4000 ₽</span>
		<p class="description">Разработка сайта</p>

		<p><i class="material-icons">check</i>Лендинг</p>
		<p><i class="material-icons">check</i>Домен</p>
		<p><i class="material-icons">check</i>Хостинг</p>
		<p><i class="material-icons">check</i>SEO</p>
	</div>
	
	<div class="plan" data-id="professional" class="col-1-3">
		<h4>UserAcq</h4>
		<span class="price monthly-price">от 6000 ₽</span>
		<p class="description">Тестирование каналов</p>

		<p><i class="material-icons">check</i>Яндекс</p>
		<p><i class="material-icons">check</i>Google</p>
		<p><i class="material-icons">check</i>Соцсети</p>
		<p><i class="material-icons">check</i>Отчет</p>
	</div>
	
	<div class="plan" data-id="professional" class="col-1-3">
		<h4>PreSeed</h4>
		<span class="price monthly-price">от 10000 ₽</span>
		<p class="description">Поиск инвестиций</p>

		<p><i class="material-icons">check</i>Россия</p>
		<p><i class="material-icons">check</i>Европа</p>
		<p><i class="material-icons">check</i>Ближний Восток</p>
	</div>
	
</div>
