<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Бесплатно</h4>
		<span class="price">₽ 0</span>
		<p class="description">Для начинающих</p>
		
		<p><i class="material-icons">check</i>Фото</p>
		<p><i class="material-icons">check</i>Титры</p>
    <p><i class="material-icons">check</i>Музыка</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Видео</p>
    <p class="disabled-state"><i class="material-icons">lock_outline</i>Озвучка</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Стандарт</h4>
		<span class="price monthly-price">от 1000 ₽</span>
		<p class="description">Для стартаперов</p>
		
		<p><i class="material-icons">check</i>Фото</p>
		<p><i class="material-icons">check</i>Титры</p>
    <p><i class="material-icons">check</i>Музыка</p>
    <p><i class="material-icons">check</i>Видео</p>
    <p class="disabled-state"><i class="material-icons">lock_outline</i>Озвучка</p>
	</div>

	<div class="plan" data-id="professional">
		<h4>Старт</h4>
		<span class="price monthly-price">от 2000 ₽</span>
		<p class="description">Для предпринимателей</p>

		<p><i class="material-icons">check</i>Фото</p>
		<p><i class="material-icons">check</i>Титры</p>
    <p><i class="material-icons">check</i>Музыка</p>
    <p><i class="material-icons">check</i>Видео</p>
    <p><i class="material-icons">check</i>Озвучка</p>
	</div>
</div>
