---
layout: default
title: Цены
header: Цены
header_subtext: Обзор цен на улуги по custdev, созданию проморолика, разработке лендинга
description: Обзор цен на улуги по custdev, созданию проморолика, разработке лендинга.
permalink: /pricing/
---

<section>
	<div class="container">
		<h3>Услуги по custdev</h3>
		{% include pricing-table.html %}
		<p class="seat-information monthly-price">Дополнительное интервью в b/c - от 100 ₽/клиент, в b/b - от 200 ₽/клиент.</p>
	</div>
</section>

<section>
	<div class="container">
		<h3>Cоздание проморолика</h3>
		{% include promo-pricing-table.html %}
		<p class="seat-information monthly-price">Продолжительность ролика - 60-80 сек.</p>
	</div>
</section>

<section>
	<div class="container">
		<h3>Разработка лендинга</h3>
		{% include landing-pricing-table.html %}
		<p class="seat-information monthly-price"></p>
	</div>
</section>

<section class="bright-section centered">
	<div class="container">
		<h2>Поробуйте бесплатные возможности Walking Startup</h2>
		<p style="margin:0;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdoJEK6ABf64vGLBCD6bILKfvCXVQn3PE3A0B_Cm3hZXhR4IA/viewform?usp=sf_link" class="btn btn-primary btn-large btn-block btn-centered sign-up">Попробовать бесплатно</a>
		<span class="btn-sub-text new-content">Внимание! Ваши данные мы не передаем третье стороне.</span></p>
	</div>
</section>

