---
layout: default
---
<header class="{{ page.name | slugify }}">
	<div class="container">
		<h2>CloudCannon Case Study: <a href="{{ page.site }}"></a></h2>
		<h3>{{ page.tagline }}</h3>
	</div>
</header>

<link type="text/css" rel="stylesheet" href="/css/lightslider.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<section>
	<div class="container text-container">
		<h2>The Challenge</h2>
		{{ page.challenge | markdownify }}

		<h2>How CloudCannon helped</h2>
		{{ page.solution | markdownify }}
	</div>
</section>

<section class="bright-section centered">
	<div class="container">
		<h2>Join {{ page.name }} and use CloudCannon with your team</h2>
		<p>
			<a href="#" class="btn btn-primary btn-large btn-block btn-centered">Sign up now</a>
		</p>
	</div>
</section>

<script src="/js/lightslider.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$(".photo-gallery").lightSlider({
			gallery: true,
			item: 1,
			loop: true,
			thumbItem: 5,
			thumbMargin: 20,
			slideMargin: 0,
			enableDrag: false,
			currentPagerPosition: "left",
		});
	});
</script>
